.bar-container {
    margin-top: 15px;
    width: 100%;
    background-color: #F17939;
    display: flex;
    justify-content: center;
}

.bar-content {
    width: 80%;
    display: flex;
    gap: 1rem;
    padding: 1rem 0rem;
}

.filters-button {
    font-size: 1.25rem;
    font-weight: 300;
    color: #a9a9a9;
}

.input-container, .filters-button{
    padding: 5px;
    background-color: #F6F4F4;
    border: none;
    border-radius: 0.5rem;
    display: flex;
}

.input-container input, .input-container button {
    background: none;
    border: none;
    font-size: 1.25rem;
    font-weight: 300;
    color: #a9a9a9;
}
